<?xml version="1.0"?>
<model>
  <name>simple_water_machine</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Levente Nemeth</name>
    <email>nemethlevente77@gmail.com</email>
  </author>
  <description>The name of this project say everithing.</description>
</model>